@import url("reset.css");
@import url("fonts.css");

* {
  font-family: "Inter", sans-serif;
  color: black;
}

.nav, .main {
  max-width: 100%;
  margin: 30px 0 30px 0;
}

.nav-list {
  text-align: center;
}

.nav-list-item {
  font-size: 18px;
}

.main-title {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  margin-top: 60px;
}

.main-image img {
  width: 100%;
  height: auto;
  text-align: justify;
}

.main-content {
  margin: 40px auto 0 auto;
  font-size: 24px;
  width: 53%;
  line-height: 1.6;
  text-align: left;
}

.main-content-description-quote {
  font-weight: bold;
  color: #00BDC9;
}

.nav-list {
  list-style-type: none;
}

.nav-list-item {
  display: inline;
}

.nav-list-item {
  padding: 0 35px 0 35px;
}

.nav-list-item:first-child {
  padding: 0 35px 0 0;
}

.nav-list-item:last-child {
  padding: 0 0 0 35px;
}

.main-content-list {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
}

.main-content-list-container li {
  list-style-type: decimal;
  list-style-position: inside;
}

.main-content-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}

.main-content-link {
  background-color: #049595;
  color: white;
  border: 2px solid #049595;
  padding: 10px 24px 10px 24px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

.footer {
  border-top: 1px solid #161616;
  margin-bottom: 24px;
}

.footer-content {
  text-align: center;
  font-size: 20px;
  padding: 20px 24px 20px 24px;
}