@import url("reset.css");
@import url("fonts.css");

body {
  font-family: 'Cabin', sans-serif;
}

.main-bg-color {
  background-color: #10BBD5;
}

.container {
  margin: 0 52px;
}

.flex__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex__end {
  justify-content: flex-end;
}

header {
  position: fixed; /* Fix the header to the top */
  top: 0; /* Position at the top of the viewport */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  z-index: 2;
}

.header__container {
  padding: 16px 52px;
  align-items: center;
}

.logo__link {
  display: inline-block;
  margin-right: auto;
}

.cart {
  width: 40px;
  height: 40px;
  background: url("../images/cart_icon.png") no-repeat center/cover;
}

main {
  margin-top: 110px;
}

header {
  background-color: white;
}

.main__nav {
  padding: 4px;
}

.cart__total-amount {
  padding-right: 19px;
}

.nav__item__list {
  line-height: 1.5;
}

.nav__item__shop {
  margin-right: auto;  /* move to the left, when all other flex elements are aligned to the right */
}

.nav__item:not(:first-child) {
  padding-left: 40px;
}

main {
  background-color: #EEEEEF;
  padding-bottom: 120px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  padding: 32px 0 23px 0;
  border-bottom: 1px solid #A8A8A8;
}

.main__product__row {
  flex-grow: 1;
}

.main__product {
  padding: 32px;
  margin: 32px 0 0 32px;
  height: 512px;
  width: 25%;
  border: 1px solid #A8A8A8;
  background-color: #F8FDFE;
  text-align: center;
  position: relative;
}

.main__product:first-child {
  margin: 32px 0 0 0;
}

.main__product__img {
  height: 65%;
  max-width: 100%;
  display: inline-block;
  padding-bottom: 16px;
}

.left-aligned {
  text-align: left;
}

.main__product__title {
  font-size: 20px;
  font-weight: 700;
  padding: 2px 0;
  border-bottom: 1px solid #A8A8A8;
  line-height: 1.4;
  overflow: hidden;       /* Hide overflowed text */
  white-space: nowrap;    /* Prevent line breaks */
  text-overflow: ellipsis; /* Show ellipsis when text is truncated */
}

.main__product__author {
  padding: 2px 0;
  line-height: 1.5;
  color: #8E8E8E;
  margin-bottom: 8px;
}

.main__product__price {
  color: #E90000;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  padding: 2px 0;
  margin-bottom: 16px;
}

.main__product__old__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  padding-left: 24px;
  color: #8E8E8E;
  text-decoration: line-through;
}

.main__product__link {
  display: inline-block;
  width: 100%;
  color: #F8FDFE;
  border: 1px solid #4C394E;
  border-radius: 4px;
  background-color: #4C394E;
  line-height: 1.5;
  padding: 8px 0;
  position: relative;
}

.main__product__link::before {
  content: "Add to basket";
}

.main__product__link:hover {
  background-color: #4D762D;
  color: transparent;
}

.main__product__link:hover::after {
  content: "End up";
  position: absolute;
  color: #F8FDFE;;
  left: 40%;
}

.badge__hit {
  background-color: #4414c6;
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  line-height: 1.5;
  color: #F8FDFE;
  position: absolute;
  top: auto;
  z-index: 1;
}

.badge__new {
  background-color: #af39e7;
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  line-height: 1.5;
  color: #F8FDFE;
  position: absolute;
  top: auto;
  z-index: 1;
}

.badge__off {
  background-color: #EA33C0;
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  line-height: 1.5;
  color: #F8FDFE;
  position: absolute;
  top: auto;
  z-index: 1;
}

.badge_left {
  left: auto;
}

.badge_right {
  left: 70px;
}

.badge_right_2 {
  left: 82px;
}

footer {
  height: 88px;
  background-color: #4C394E;
  color: #F8FDFE;
}

footer div {
  justify-content: space-between;
}

footer div p {
  line-height: 1.5;
  margin-top: 31px
}

.chat__icon img {
  background-color: #10BBD5;
  border-radius: 64px;
  position: fixed;
  top: 85%;
  right: 28px;
}