.footer * {
    text-transform: uppercase;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.footerBtn {
    border: 2px solid grey;
    color: #8A33FD;
    font-weight: 500;
    width: 192px;
    height: 48px;

    &:hover {
        font-size: larger; 
        transform: scale(1.05); 
    }
}

.footerBtn:hover {
    border: none;
    background-color: #8A33FD;
    color: white;
}