@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: rgba(0, 0, 0, 0.96);
}

.wrapper {
  display: flex;               
  justify-content: center;     
  align-items: center;   
}

#draggable {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  position: absolute;
  cursor: grab;
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;

}