<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Disappearing characters</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="script.js" defer></script>
</head>
<body>
  <div class="wrapper">
    <span class="letter">c</span>
    <span class="letter">h</span>
    <span class="letter">a</span>
    <span class="letter">r</span>
    <span class="letter">a</span>
    <span class="letter">c</span>
    <span class="letter">t</span>
    <span class="letter">e</span>
    <span class="letter">r</span>
    <span class="letter">s</span>
  </div>
</body>
</html>