@import url("reset.css");
@import url("fonts.css");

:root {
  --primary-color: #0F8277;
  --sub-color-grey: #5C5C5C;
  --sub-color-white: #EEEEEE;
  --sub-color-white-2: #FDFDFD;
  --sub-color-white-3: #FFFFFF;
  --sub-color-light-mix: #DBF3ED;
  --main-font: 'Quicksand', sans-serif;
  --font-size-32: 32px;
  --font-weight-700: 700;
  --bottom-space: 80px;
}

.container {
  margin: 30px 36px 80px 36px;
  width: 95%;
  font-family: var(--main-font);
}

header.container {
  margin-bottom: 31px;
}

.space-between {
  justify-content: space-between;
}

header, main, footer {
  font-family: var(--main-font);
}

.header__nav {
  font-weight: 500;
  line-height: 19.2px;
  margin-bottom: 31px;
}

.custom-btn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 10px 12px;
  color: var(--sub-color-white);
  font-weight: var(--font-weight-700);
  cursor: pointer;
}

.mt-0 {
  margin-top: 0;
}

.mt-40 {
   margin-top: 40px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-27 {
  margin-bottom: 27px;
}

.primary-color-text {
  color: var(--primary-color);
  font-weight: 700;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__nav-logo, .footer__nav-logo {
  font-size: var(--font-size-32);
  line-height: 1.2;
  font-weight: var(--font-weight-700);
}

.cursor-pointer {
  cursor: pointer;
}

.header__nav-list-item-search {
  height: 37px;
  width: 25%;
  border: 1px solid var(--sub-color-grey);
  border-radius: 4px;
}

.header__nav-list-item-search input[type="search"] {
  padding: 8px 16px;
  color: var(--sub-color-grey);
  width: 90%;
  font-weight: 500px;
  line-height: 19.2px;
  font-family: var(--main-font);
  font-size: 16px;
}

.header__nav-search-btn {
  background: url('../images/search/search.svg') no-repeat center;
  width: 10%;
  height: 36px;
  background-color: var(--primary-color);
  border-left: 1px solid var(--sub-color-grey);
  cursor: pointer;
}

.main__learn {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background: url('../images/main__learn/fon.png') no-repeat center;
  background-size: cover;
  justify-content: space-between; 
  align-items: center;
}

.main__learn-content {
  margin-left: 110px;
  width: 40%;
}

.main__learn-img {
  background: url('../images/main__learn/main__learn_img_1.svg') no-repeat center;
  height: 533px;
  width: 45%;
  margin: 39px 54px 70px 94px;
}

h1 {
  font-size: 56px;
  font-weight: var(--font-weight-700);
  line-height: 67.2px;
  margin-bottom: 32px;
}

.main__learn-content-text {
  width: 90%;
  font-weight: 600;
  font-size: 22px;
  line-height: 26.4px;
  margin-bottom: 32px;
}

.main__learn__nav-list .custom-btn {
  margin-right: 24px;
}

.main__learn__nav-list .primary-color-text {
  padding: 10px 12px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 12px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-color);
  margin-bottom: 12px;
}

article > p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}

.main__cards__container {
  justify-content: space-between;
}

.main__cards-card {
  width: calc((100% / 3) - 24px);
  border: 1px solid #DADADA;
  border-radius: 8px;
  height: 550px;
  position: relative;
}

.main__cards-card-2 {
  width: calc((100% / 4) - 24px);
  border: 1px solid #DADADA;
  border-radius: 8px;
  height: 550px;
  position: relative;
}

.main__cards-card-content {
  padding: 16px 0 16px 21.5px;
}

.main__cards-card-img {
  height: 60%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden; /* Ensures that anything outside the rounded corners (including the background image) is hidden */
  margin-bottom: 24px;
}

.main__cards-card-img-1 {
  background: url('../images/main__academic-training/training-img-1.svg') no-repeat center;
  background-size: cover;
}

.main__cards-card-img-2 {
  background: url('../images/main__academic-training/training-img-2.svg') no-repeat center;
  background-size: cover;
}

.main__cards-card-img-3 {
  background: url('../images/main__academic-training/training-img-3.svg') no-repeat center;
  background-size: cover;
}

.main__cards-card-title {
  font-weight: 500px;
  line-height: 19.2px;
  display: inline;
  margin-left: 12px;
}

.main__cards-card-description {
  font-weight: var(--font-weight-700);
  font-size: 24px;
  line-height: 28.8px;
}

.main__cards-card-sub-container {
  align-items: center;
  margin-bottom: 16px;
}

.main__cards-card-link {
  line-height: 19.2px;
  position: absolute;
  bottom: 12px;
}

.main__cards-card-training-img {
  margin-right: 12px;
}

.main__courses-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.main__courses-link-more {
  font-weight: var(--font-weight-700);
  font-size: 20px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  gap: 18px; /* Add space between text and image */
}

.main__courses-link-image {
  width: 20px;
  height: 20px;
}

.main__courses-card-img-1 {
  background: url('../images/main__courses/main_courses-img-1.svg') no-repeat center;
  background-size: cover;
}

.main__courses-card-img-2 {
  background: url('../images/main__courses/main_courses-img-2.svg') no-repeat center;
  background-size: cover;
}

.main__courses-card-img-3 {
  background: url('../images/main__courses/main_courses-img-3.svg') no-repeat center;
  background-size: cover;
}

.main__courses-card-img-4 {
  background: url('../images/main__courses/main_courses-img-4.svg') no-repeat center;
  background-size: cover;
}

.explore-btn::after {
  content: url('../images/logo/arrow.svg');
  margin-left: 8px;
}

.main__topics-title {
  margin-bottom: 40px;
}

.grid__container__main {
  display: grid;
  grid-template-rows: 0.5fr, 1fr, 1fr, 1fr;
  grid-template-columns: repeat(4, 1fr);
}

.grid__element {
  margin-bottom: 32px;
}

.grid__element-sub-title {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: var(--font-weight-700);
  line-height: 24px;
}

.main__cooperate, .main__plans {
  background-color: var(--sub-color-light-mix);
  margin-top: 30px;
  padding: 80px 36px;
  font-family: var(--main-font);
  text-align: center;
}

.main__cooperate-title-second {
  margin-bottom: 60px;
}

.main__cooperate-logo {
  text-align: center;
}

.main__sales-content {
  width: 50%;
}

.main__sales-img {
  background: url('../images/main__sales/business-block.svg') no-repeat center;
  background-size: contain;
  height: 588px;
}

.main__sales-content-section {
  padding: 67.5px 72px 67.5px 0;
}

.main__sales-content-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 26.4px;
  padding-right: 68px;
  margin-bottom: 32px;
}

.main__sales-content-btn {
  display: inline-block;
}

.main__cards-plan {
  width: calc((100% / 3) - 24px);
  border: 1px solid #DADADA;
  border-radius: 24px;
  height: 698px;
  border: 1px solid #0F8277;
  padding: 56px;
}

.main__cards-plan h4 {
  height: 58px;
}

.main__cards__container .main__cards-plan:nth-child(odd) {
  background-color: var(--sub-color-white-2);
}

.main__cards__container .main__cards-plan:nth-child(even) {
  background-color: var(--primary-color);
  color: var(--sub-color-white-3);
}

.main__cards__container .main__cards-plan:nth-child(even) .main__sales-content-btn {
  border: 2px solid var(--sub-color-white);
} 

.divider {
  height: 1px; /* Thickness of the divider */
  margin: 20px 0 40px 0; 
  width: 100%; 
}

.main__cards__container .main__cards-plan:nth-child(odd) .divider {
  background-color: var(--primary-color); 
}

.main__cards__container .main__cards-plan:nth-child(even) .divider {
  background-color: var(--sub-color-white-3); 
}

.main__cards-plan-text {
  font-weight: 500px;
  line-height: 19.2px;
  height: 57px;
}

.main__cards-plan-price-content {
  height: 48px;
}

.main__cards-plan-period {
  text-transform: uppercase;
  vertical-align: middle;
}

.main__cards-plan-price::before {
  content: '$ ';
}

.main__cards-plan-price {
  font-weight: var(--font-weight-700);
  font-size: 40px;
  line-height: 48px;
  vertical-align: middle;
  padding-right: 16px;
}

.main__cards-plan-details {
  margin-bottom: 16px;
  padding-left: 32px;
  text-align: left;
  position: relative;
}

.main__cards__container .main__cards-plan:nth-child(odd) .main__cards-plan-details::before {
  content: url('../images/main__cooperate/bullit_green.svg'); /* Replace with your image path */
  margin-right: 16px; 
  position: absolute;
  left: 0;
  top: 10%;
  transform: translateY(-10%);
}

.main__cards__container .main__cards-plan:nth-child(even) .main__cards-plan-details::before {
  content: url('../images/main__cooperate/bullit_white.svg'); /* Replace with your image path */
  margin-right: 16px; 
  position: absolute;
  left: 0;
  top: 10%;
  transform: translateY(-10%);
}

.main__students h2 {
  text-align: center;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
  grid-template-rows: repeat(3, 1fr); /* Automatically sized rows */
  gap: 24px; /* Space between the photos */
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 2px; 
}


.photo1 {
  grid-column: 1 / span 1; /* Spans across 2 columns */
  grid-row: 1 / span 1; /* Spans across 2 rows */
}

.photo2 {
  grid-column: 2 / span 2; 
  grid-row: 1 / span 2;
}

.photo3 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

.photo4 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.photo5 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.photo6 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1; /* Spans 2 rows */
}

.photo7 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

.photo8 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

.photo9 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}

.main__contact-us {
  background: url('../images/contact_us/image\ 32.svg') no-repeat center;
  background-size: cover;
  height: 730px;
  padding: 65px 0 47px;
}

.contact {
  margin: 0 auto;
  width: 35%;
  height: 97%;
  background-color: #DBF3ED;
  border-radius: 24px;
  padding: 30px;
}

.contact h2 {
  text-align: center;
  margin-bottom: 24px;
}

.contact__subtitle {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.contact__label {
  display: block;
  margin: 24px 0;
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
  outline: 0;
  height: 104px;
}

.contact__label input, 
.contact__label textarea {
  width: 100%;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 12px; 
  box-sizing: border-box; 
  min-height: 48px;
  color:#8E8E8E;
	font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-weight: 500;
	font-size: 16px;
}

/* Chrome, Safari, Edge */
.contact__field::-webkit-input-placeholder {
  color: #888;
}

input::placeholder, textarea::placeholder {
  color: #8E8E8E;       
  font-weight: 500;   
  line-height: 24px;      
}

.contact__label-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 8px;
}

.contact__submit {
  display: block;
  width: 30%;
  margin: 0 auto;
}

.footer__nav {
  height: auto;
  padding: 44px 0;
}

.footer__nav-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer__nav-logo-text {
  width: 306px;
  line-height: 19.2px;
}

.nav__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.nav__linkedin {
  background: url('../images/social__media/linkedin.svg');
  margin-left: 24px;
} 

.nav__facebook {
  background: url('../images/social__media/facebook.svg');
  margin-left: 24px;
} 

.nav__instagram {
  background: url('../images/social__media/instagram.svg');
  margin-left: 24px;
} 

.modal {
  display: none;
  position: absolute;
  top: 72px;
  left: 255px;
  width: 384px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
  justify-content: left;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 384px;
  border-radius: 2px;
  position: relative;
  text-align: left;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.modal-content a {
  display: block;
  margin-bottom: 16px;
}

.explore-btn {
  cursor: pointer;
  position: relative;
}

.explore-btn:hover + .modal,
.modal:hover
{
  display: block;
}

.modal .divider {
  background-color: #000;
}

h5 {
  margin: 40px 0 21px 0;
  font-weight: 700;
  line-height: 19.2px;
}