<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login form</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="script.js" defer></script>
</head>
<body>
  <div class="wrapper">

    <div id="loginForm">
      <nav class="nav__group">
        <button class="btn-50 signup-btn btn-inactive" onclick="showSignup()">Sign up</button>
        <button class="btn-50 login-btn btn-active" onclick="showLogin()">Log in</button>
      </nav>
      <h3>Welcome back!</h3>
      <input type="email" placeholder="Email address">
      <input type="password" placeholder="Password">
      <a href="" target="_blank">Forgot password?</a>
      <button class="login" onclick="login()">Log in</button>
    </div>
  
    <div id="signupForm" style="display: none;">
      <nav class="nav__group">
        <button class="btn-50 signup-btn btn-active" onclick="showSignup()">Sign up</button>
        <button class="btn-50 login-btn btn-inactive" onclick="showLogin()">Log in</button>
      </nav>
      <h3>Sign up for free</h3>
      <input type="text" placeholder="First name">
      <input type="text" placeholder="Last name">
      <input type="email" placeholder="Email address">
      <input type="password" id="password" placeholder="Set a password" name="password">
      <div id="passwordHint" class="hint">
        <ul class="passwordHintList">
          <li class="passwordHintItem">8 characters (min)</li>
          <li class="passwordHintItem">1 uppercase character</li>
          <li class="passwordHintItem">1 lowercase character</li>
          <li class="passwordHintItem">1 special character</li>
        </ul>
      </div>
      <button class="signup" onclick="signup()">Get started</button>
    </div>

  </div>
</body>
</html>