<!DOCTYPE html>
<html>
<head>
<title>Calendar</title>
<link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="wrapper">
    <button class="previous">
      <img src="./images/previous.svg" alt="previous month">
    </button>
    <div class="month"></div>
    <button class="next">
      <img src="./images/next.svg" alt="next month">
    </button>
    <div class="day-of-week">S</div>
    <div class="day-of-week">M</div>
    <div class="day-of-week">T</div>
    <div class="day-of-week">W</div>
    <div class="day-of-week">T</div>
    <div class="day-of-week">F</div>
    <div class="day-of-week">S</div>
    
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
    <div class="date-number"></div>
  </div>
  <script src="script.js"></script>
</body>
</html>