.modal-content {
    background: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.image {
    height: 400px;
    width: 400px;
}

.text {
    height: 300px;
    width: 450px;
}