.modal-content {
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    position: relative;
}

.image {
    background: yellow;
}

.text {
    background: blue;
}