.btn {
    padding: 20px;
    font-size: 28px;
    cursor: pointer;
    border: 2px solid #8A33FD;
    margin-right: 50px;
    font-family: 'Calibri', Times, serif;
    transition: all 0.3s ease; 

    &:hover {
        font-size: 30px; 
        transform: scale(1.05); 
    }

    &:active {
        border-color: #651bc7; 
    }
}

.default {
    background-color: #8A33FD;
    color: white;
    
    &:hover {
        background-color: #651bc7
    }
}

.main {
    background-color: blue;
    color: white;
    
    &:hover {
        background-color: darkblue; 
    }
}